# H1: Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- python
- R
- SQL
- Scala
- Java
- C++

## H2: Author
Truong Nha Binh

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. ggplot2

| Data Science Tools |
|--------------------|
| JupiterLab |
| RStudio |
| GitHub |

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335